.ml4 {
    position: relative;
    font-family: 'Comic Sans MS';
    width: 100%;
  }
  .ml4 .letters {
    position: absolute;
    margin: 0px;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
    @media (max-width: 768px){
      font-size: 20px;
    }
  }

.hello{
    font-size: 2em;
    width: auto;
    @media (max-width: 768px){
      font-size: 20px;
    }
    font-weight: bold;
    font-family: 'Comic Sans MS';
    text-decoration: underline;
 }