<div class="row  align-items-lg-center" id="about">

    <div class="col-lg-4 col-md-6 col-4 order-lg-2 mr-auto ml-auto">
        <img src="{{ asset('images/img-profile.jpg') }}" alt="image du profile" id="imgProfile">
    </div>

    <div class="col-lg-8 col-md-12 col-12 order-lg-1">
        <div class=" border shadow text-justify p-2 p-md-5">
            <h3 class="text-center">à propos de moi</h3>
            <hr>
            <p>Je m'appel Messaoud EL Kandoussi , diplomé d'une licence sciences mathématiques
                et informatique SMI, et je travail actuellement en tant que développeur web freelancer.</p>

            <p>Passioné par les nouvelles technologies et le développement informatique,
                je réalises les sites web et les applications mobiles.</p>

            <p>Que ce soit une sociétée ou un particulier , je serai ravis de répondre a
                vos besoin, et si vous avez des questions n'éhisitez pas de me contacter</p>

            <button class="btn btn-primary">Télécharger mon CV</button>
        </div>
    </div>

</div>