<h4 class="hello text-center"> {{ 'Bienvenue' | trans}} </h4>
<h1 class="ml4 text-center">
    <span class="letters letters-1">{{ 'Je suis' | trans}}</span>
    <span class="letters letters-2">Messaoud EL Kandoussi</span>
    <span class="letters letters-3">{{ 'Développeur web' | trans}}</span>
</h1>